/* CSS Document */

* { margin:0; padding:0; font-size:12px;}
	.dingbu { background:#fafafa; height:29px; border-bottom:1px solid #f1f1f1;}
	.dingbu div { width:1100px; margin:0 auto; text-align:right;line-height:28px;}
	
	.toubu { width:1100px; height:60px; margin:0 auto;}
	.toubu_1 { display:inline-block; width:375px; vertical-align:top;}
	
	.toubu_2 { display:inline-block; width:580px; vertical-align:top;}
	.toubu_2_1 { width:350px; height:38px; border:1px solid #2f8d2f;}
	.toubu_2_2 { width:60px; height:40px; background:#2f8d2f; color:#FFF;vertical-align:top;}
	
	.toubu_3 { display:inline-block; width:120px;vertical-align:top;}
	.toubu_3 li { display:inline-block; padding:0 6px;}
	
	.lmt { background:#3db43c;}
	.lmt_1 a { color:#fff; font-size:14px; text-decoration:none;}
	
	.lmt_1 { width:1100px; height:40px; margin:0 auto;}
	.lmt_1_1 { display:inline-block;line-height:40px;color:#FFF; font-size:14px;padding:0 55px; background:#319630;}
	.lmt_1 h2 { display:inline-block;line-height:40px;color:#FFF; font-size:14px; padding:0 30px;}
	
	
	.bn { background:url(../images/bn.gif) center 0 no-repeat; height:345px; }
	
	
	.gg_1 { width:1105px; margin:0 auto;}
	.gg_1 li { display:inline-block; margin:5px 5px }
	
	
	.bankuai_1 { width:1100px; margin:0 auto;}
	.bankuai_1_1 { background:url(../images/lmt-1.gif) center 0 no-repeat; height:48px;}
	.bankuai_1_1 h2 {display:inline-block; line-height:48px; padding:0 75px; font-size:14px;}
	.bankuai_1_1 div { display:inline-block; width:666px; text-align:right;}
	.h2_1 {color:#FFF;}
	
	
	.bankuai_1_2 {display:inline-block; width:830px; vertical-align:top;}
	.bankuai_1_2 div { display:inline-block; padding: 10px 8px 0 0; width:264px;}
	.bankuai_1_2 p { line-height:22px; padding:12px; color:#666666;text-indent:10px;}
	.bankuai_1_2 b { font-size:28px;  padding:3px; }
	.bankuai_1_2 a { color:#ff7800;}
	.bankuai_1_3 {display:inline-block; padding: 10px 0; }
	
	
	.bankuai_2 { width:1100px; margin:0 auto;}
	.bankuai_2_1 h2 { font-size:20px; color:#67c77c;padding: 20px 0 0 10px;}
	.bankuai_2_1_1 { background: url(../images/bk-2-1.gif) center 0 no-repeat; height:19px;}
	.bankuai_2_2 { width:380px; display:inline-block;}
	.bankuai_2_2_1 p{ color:#59b62a; font-size:18px;padding:12px 0; }
	.bankuai_2_2_1 a { color:#7c7777; font-size:12px;}
	.bankuai_2_2_2 div { display:inline-block; padding:8px 8px 8px 0;}
	.bankuai_2_2_3 { width:170px;}
	.bankuai_2_2_3 h2 { color:#494949; font-size:12px; padding:14px 0;}
	.bankuai_2_2_3 p { color:#7c7777; font-size:12px; line-height:22px;}
	
	.bankuai_2_3 { width:437px; display:inline-block; vertical-align:top;}
	.bankuai_2_3 h2{ color:#7c7777; font-size:12px; padding:20px 0;}
	.bankuai_2_3 div{ width:250px; display:inline-block; color:#7c7777; font-size:10px;line-height:20px; vertical-align:top;text-indent:12px;}
	.bankuai_2_3 p { color:#7c7777;line-height:35px; padding:15px 0; text-indent:24px;}
	
	.bankuai_2_4 {display:inline-block; }
	
	.bankuai_3 { width:1100px; margin:0 auto;}
	
	.dixian { background:#3cb43c; height:2px; }
	
	.bankuai_4 { width:1100px; margin:0 auto;}
	.bankuai_4 p { color:#8e8d8d; font-size:12px; line-height:24px;}